body {
    background-color: #FFFEFE;
  }
  
  #login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 21.18em;
    height: 22.05em;
    border: 5px solid black;
    border-radius: 2.34em;
  }
  
  #login-fields {
    display: flex;
    flex-direction: column;
    margin: 10%
  }
  
  #login-head {
  /*   border-style: solid; */
    font-size: 1.5em;
  }
  
  #new-user, #sign-up-link {
    color: #8A8686;
  }
  
  .login-text {
    width: 10.2em;
    height: 1.08em;
  }