html {}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(255, 254, 254, 0.4);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.login-field {
  border: 0;
}

.login-text {
  width: 25vw;
  height: 2.5vw;
  max-width: 360px;
  max-height: 36px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  
  margin: auto;
  
  border-bottom: 1.5px solid #8C8181;
}

.sign-up-text {
  font-size: 1.25vw;
  line-height: 1.5vw;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: rgba(255, 254, 254, 1);
  
  margin: auto;
  width: 49vw;
  height: 51vw;
  max-width: 706px;
  max-height: 735px;
  
  border-radius: 5.4vw;
}

#login-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-head {
  width: 17.6vw;
  height: 4.0vw;
  max-width: 253px;
  max-height: 57px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 59px;
  
  display: flex;
  justify-content: center;
  text-align: center;
  
  margin: 9vw auto 5.2vw;
  
  color: #000000;
}

#email {
  margin-bottom: 3.2vw;
}

#password {
  margin-bottom: -3.4vh;
}

#forgot-password {
  width: 9.5vw;
  height: 2.5vw;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 1vw;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;

  color: #727272;
  
  margin-bottom: 3.3vw;
}

#submit {
  width: 19.3vw;
  height: 3.5vw;
  max-width: 278px;
  max-height: 50px;

  background: #81D5D5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26.5px;
  
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.5vw;
  
  margin-bottom: auto;
}

#new-user {
  width: 23vw;
  height: 2.4vw;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;

  color: #8A8686;
  margin-bottom: 6.2vw;
}

#sign-up-link {
  margin-left: 0.5vw;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  
  color: #8A8686;
}
